body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: white;
}

.fx-vertical {
    display: flex;
    flex-direction: column;
}

.fx-v-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-bar {
    background-color: #1c7eff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-icon {
    width: 40px;
}

.footer-bar {
    background-color: #23262a;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    gap: 30px;
    color: white;
}

.information {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.personal-information {
    border-right: solid white 1px;
}

.contact-information {
    border-right: solid white 1px;
    gap: 40px;
}

.contact-links {
    gap: 20px;
}

.tecnologies-information {
    gap: 20px;
}

.information-links {
    gap: 3px;
}

.icon-information {
    width: 30px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.poke-card {
    width: 397px;
    display: flex;

    justify-content: center;

}

.poke-img {
    width: 100px;
    border: solid #23262a 5px;
    border-radius: 100%;
    background-color: white;
    z-index: 1;
}

.poke-img img {
    width: 100%;
}

.poke-info {
    width: 100%;
    border: solid #23262a 5px;
    transform: translate(-27%, 0);
    background-color: crimson;
    border-radius: 60px;
}

.poke-info p{
    margin-left: 100px;
    color: white;
}